body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

header, footer {
  display: none; /* Hide header and footer for full-screen iframe */
}

main {
  margin: 0;
  height: 100%;
  width: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
